header {
    margin-top: 15px;
}

header .title {
    font-size: 32px;
}

nav .layui-nav {
    padding-left: 150px;
}

/* 覆盖 layui nav 样式*/
.layui-nav * {
    font-size: 16px;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: initial;
}
.layui-nav .layui-nav-more {
    border-style: none;
}

.layui-nav-child {
    background-color: #21a4d5;
}

.layui-nav .layui-nav-child a {
    color: #fff;
}

.dash-hr {
    height: 0px;
    border-bottom: 1px dashed;
}

.layui-elem-quote.layui-quote-nm {
    height: 0px;
    line-height: 0px;
    border-left-color: #b50003;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    font-size: 20px;
}

/**/
blockquote a {
    font-size: 15px;
}
.margin-top {
    margin-top: 35px;
}
.offset {
    position: relative;
    left: 65px;
}
.news {
    margin-top: 38px;
    font-size: 16px;
}

.news .summary {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.search-input {
    background: url(../image/searchIcon.png) no-repeat;
    border-radius: 100px;
    background-position: 310px;
    width: 350px;
}

.recently {
    padding: 14px 0px;
}

.recently .article {
    padding-left: 25px;
    padding-right: 15px;
}

.recently .article a {
    font-size: 16px;
    width: 300px;
    display: inline-block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recently .article p {
    padding-top: 5px;
}

.channel a {
    display: inline-block;
    padding: 15px 20px;
    padding-bottom: 10px;
}

.channel .c-label {
    text-align: center;
}

.section {
    margin: 40px 150px;
}

.blue-bg {
    background-color: #21a4d5;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.red {
    color: #f13a3a;
}

.quote-color {
    color: #b50003;
}
.red-bg {
    background-color: #f13a3a;
}

.grey {
    color: #cccccc;
}

.top-section {
    margin: 0px 150px;
}

.top-offset {
    margin-top: 30px;
}

/* moreDetail.html 样式*/

.more-detail-article {
    margin: 80px 10px 0px 10px;
}

.more-detail-article .bottom {
    display: block;
    padding-bottom: 30px;
}

.foot {
    margin-top: 25px;
}

.foot div a {
    padding-left: 10px;
}

/* subPage.html 样式*/

.channel-ul li{
    border-bottom: 1px dashed #cccccc;
    height: 45px;
    line-height: 43px;
    padding-left: 20px;
}

.channel-ul li:first-child {
    font-size: 16px;
    color: #ffffff;
    padding-left: 10px;
    border: 1px solid #f13a3a;
}

.channel-ul .item {
    border-left: 1px solid #f1ecec;
    border-right: 1px solid #f1ecec;
}

.channel-ul .item:last-child {
    border-bottom: 1px solid #f1ecec;
}

.article-list a:hover {
    cursor: pointer;
    color: #b50003;
}

.article-list li:hover {
    cursor: pointer;
    color: #b50003;
}

/* subPageMore.html 样式 */
.right-list {
    margin-left: 300px;
    margin-top: 10px;
}

.right-list .list-title {
    font-size: 16px;
}

.right-list li {
    border-bottom: 1px dashed #cccccc;
    height: 45px;
    line-height: 43px;
    padding-left: 10px;
}

.right-list a:hover {
    color: #f13a3a;
}
