header {
    margin-top: 15px;
}

header .title {
    font-size: 32px;
}

.search-input {
    background: url(../image/searchIcon.png) no-repeat;
    border-radius: 100px;
    background-position: 310px;
    width: 350px;
}

.section {
    margin: 40px 150px
}

.right {
    float: right;
}

.hide {
    display: none;
}

.red {
    color: #f13a3a;
}

.grey {
    color: #cccccc;
}
