<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>学校</title>
        <link rel="stylesheet" href="../static/js/lib/layui/css/layui.css">
        <link rel="stylesheet" href="../static/css/school.css">
        <script type="text/javascript" src="../static/js/lib/sea.js"></script>
        <script>
    		document.write("<script type=\"text/javascript\" src=\"../static/js/lib/config.js?t="+(+ new Date())+"\"><\/script>");
    	</script>
    </head>
    <body>
        <header class="layui-form-item">
            <div class="layui-input-inline center-width">
                <label class="layui-form-label">School</label>
                <label class="layui-form-label">Design</label>
            </div>
            <div class="layui-input-inline center-width">
                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
                <i class="layui-icon">&#xe615;</i>
            </div>
        </header>
        <nav>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item layui-this">
                    <a href="">网站首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">机构设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">岗位职责</a></dd>
                        <dd><a href="">管理规定</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">教学运行</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">通知公告</a></dd>
                        <dd><a href="">教学动态</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">实践创新</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">实践教学</a></dd>
                        <dd><a href="">毕业论文</a></dd>
                        <dd><a href="">学科竞赛</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">招生考试</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">英语考试</a></dd>
                        <dd><a href="">教师资格</a></dd>
                        <dd><a href="">语言文字</a></dd>
                    </dl>
                </li>
            </ul>
        </nav>
        
        <script src="../static/js/lib/layui/layui.js"></script>
        <script>
    		seajs.use("../static/js/view/school.js")
    	</script>
    </body>
</html>
