<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>学校</title>
        <link rel="stylesheet" href="../static/js/lib/layui/css/layui.css">
        <link rel="stylesheet" href="../static/css/common.css">
        <script type="text/javascript" src="../static/js/lib/sea.js"></script>
        <script type="text/javascript" src="../static/js/lib/juicer-min.js"></script>
        <script>
    		document.write("<script type=\"text/javascript\" src=\"../static/js/lib/config.js?t="+(+ new Date())+"\"><\/script>");
    	</script>
    </head>
    <body>
        <!-- <header class="layui-form-item layui-main">
            <form class="layui-form" id="search">
                <div class="layui-inline">
                    <label class="title red">School <span class="grey">Design</span></label>
                </div>
                <div class="layui-inline right">
                    <input  type="text" name="key" class="layui-input search-input">
                    <button type="submit" class="hide" lay-submit lay-filter="*"></button>
                </div>
            </form>
        </header> -->
        <nav>
            <ul class="layui-nav layui-main" lay-filter="nav">
                <span class="logo-wrapper">
                    <img src="../static/image/logo.png" alt="">
                </span>
                <li class="layui-nav-item">
                    <a href="index.html">网站首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">机构设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="subPage.html?pageId=1">岗位职责</a></dd>
                        <dd><a href="subPage.html?pageId=2">管理规定</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">教学运行</a>
                    <dl class="layui-nav-child">
                        <dd><a href="subPage.html?pageId=3">通知公告</a></dd>
                        <dd><a href="subPage.html?pageId=4">教学动态</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">实践创新</a>
                    <dl class="layui-nav-child">
                        <dd><a href="subPage.html?pageId=5">实践教学</a></dd>
                        <dd><a href="subPage.html?pageId=6">毕业论文</a></dd>
                        <dd><a href="subPage.html?pageId=7">学科竞赛</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="">招生考试</a>
                    <dl class="layui-nav-child">
                        <dd><a href="subPage.html?pageId=8">英语考试</a></dd>
                        <dd><a href="subPage.html?pageId=9">教师资格</a></dd>
                        <dd><a href="subPage.html?pageId=10">语言文字</a></dd>
                    </dl>
                </li>
            </ul>
        </nav>
        <main class="layui-main">
            <!-- 搜索结果页面 -->
            <section class="top-section search hide">
                <img src="../static/image/search.jpg" alt="">
                <div class="search-title red">
                    <i class="layui-icon">&#xe623;</i>搜索结果
                </div>
                <hr class="dash-hr grey">
                <ul id="result-list"></ul>
                <div id="page"></div>
            </section>
            <section class="top-section index right" id="more">
                <img src="../static/image/subPageMore.jpg" alt="">
                <div class="right-list">
                    <div class="list-title red">
                        <i class="layui-icon">&#xe623;</i>文章列表
                    </div>
                    <hr>
                    <ul>
                        <li>
                            <a href="moreDetail.html">中华人民共和国国家通用语言文字法<span class="right">[ 语言文字 ] 2017-08-25</span></a>
                        </li>
                        <li>
                            <a href="moreDetail.html">中华人民共和国国家通用语言文字法<span class="right">[ 语言文字 ] 2017-08-25</span></a>
                        </li>
                        <li>
                            <a href="moreDetail.html">中华人民共和国国家通用语言文字法<span class="right">[ 语言文字 ] 2017-08-25</span></a>
                        </li>
                        <li>
                            <a href="moreDetail.html">中华人民共和国国家通用语言文字法<span class="right">[ 语言文字 ] 2017-08-25</span></a>
                        </li>
                        <li>
                            <a href="moreDetail.html">中华人民共和国国家通用语言文字法<span class="right">[ 语言文字 ] 2017-08-25</span></a>
                        </li>
                    </ul>
                    <ul id="more-list"></ul>
                    <div id="more-page"></div>
                </div>
            </section>
        </main>
        <footer>
            <span class="layui-breadcrumb" lay-separator="|">
                <a href="index.html">网站首页</a>
                <a href="aboutUs.html">关于我们</a>
                <a href="#">联系我们</a>                        
            </span>
            <span>©2017 网站模板—学校 版权所有</span>
            <span class="layui-breadcrumb" lay-separator="|">
                <a href="#">手机版</a>
                <a href="#">本站使用 wp 搭建</a>
                <a href="#">管理登录</a>                        
            </span>            
        </footer>
        <script type="text/html" id="list-tpl">
            {@each data as value, key}
                <li>
                    <a href="${value.link}">
                        <strong>[${value.type}]</strong>
                        ${value.title}
                    </a>
                    <hr>
                </li>
            {@/each}
        </script>
        <script type="text/html" id="more-tpl">
            {@each data as value, key}
                <li>
                    <a href="moreDetail.html">
                        ${value.title}
                        <span class="right">[ 语言文字 ] 2017-08-25</span>
                    </a>
                    <hr>
                </li>
            {@/each}
        </script>
        <script src="../static/js/lib/layui/layui.js"></script>
        <script src="../static/js/data.js"></script>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <script>
    		seajs.use("../static/js/view/index.js")
    	</script>
    </body>
</html>
